{% extends 'base.html' %}

{% block title %}Application Info{% endblock title %}

{% block content %}
{% include 'Y_navbar.html' %}
{% load static %}

<div class="message-box flex flex-col items-center p-6 bg-gray-100 min-h-screen">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="icon text-6xl mb-4">🚧</div>
    <h1 class="text-3xl font-bold mb-2">My Order Page</h1>
    <br>
    <br>
    <br>
    <img src="{% static 'image/pensive.gif' %}" alt="We're Really Sorry" class="w-48 h-48 mb-4"/>
    <br>
    <br>
    <br>
    <a href="{% url 'main:home' %}">
        <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 transition duration-200">Back to Home</button>
    </a>
    <br>
</div>

{% endblock content %}