{% extends 'base.html' %}

{% block title %}Application Info{% endblock title %}

{% block content %}
{% include 'navbar.html' %}
{% load static %}
    <h1>Welcome, {{ username }}!</h1>

    <h2>Your Information</h2>
    <p>User ID: {{ user_id }}</p>
    <p>Role: {{ user_role }}</p>

    <!-- MyPay Button -->
    <h2>MyPay</h2>
    <form method="GET" action="{% url 'main:mypay' %}">
        <button type="submit">Go to MyPay</button>
    </form>

    <h2>Explore Services</h2>
    <form method="GET" action="{% url 'main:home' %}">
        <label for="categoryFilter">Filter by Category:</label>
        <select id="categoryFilter" name="category" onchange="this.form.submit()">
            <option value="">All Categories</option>
            {% for category in categories %}
                <option value="{{ category.0 }}" {% if category.0|stringformat:"s" == request.GET.category %}selected{% endif %}>
                    {{ category.1 }}
                </option>
            {% endfor %}
        </select>
        <br>
        <label for="searchInput">Search:</label>
        <input type="text" id="searchInput" name="search" value="{{ search_term }}" placeholder="Search categories...">
        <button type="submit">Search</button>
    </form>

    <h3>Service Categories</h3>
    <ul>
        {% for item in categories_with_subcategories %}
            <li>
                <strong>{{ item.category.1 }}</strong> <!-- category name -->
                <ul>
                    {% for subcategory in item.subcategories %}
                        <li>
                            <a href="{% url 'main:subcategory_user' subcategory_name=subcategory.subcategoryname %}">
                                {{ subcategory.subcategoryname }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}